body {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-weight: 300;
  font-size: 15px;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.header .header-content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 71px);
  padding-top: 71px;
}

.header .title {
  font-weight: 600;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link > a {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 200px;
  min-width: 120px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #ccc;
  background-color: #fff;
}

.link > a:hover {
  background-color: #ccc;
  color: #fff;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  padding: 0 0 50px;
}

.content .title {
  font-weight: 600;
  font-size: 25px;
  margin: 50px 0 10px;
}

.content .sub-title {
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0 10px;
}

.profiles {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.profile {
  width: 250px;
  height: auto;
  border: #ccc 1px solid;
  margin: 0 10px;
  padding: 5px 10px;
}

.profile .name {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  border: #ccc 1px solid;
  border-right: none;
  border-left: none;
  padding: 10px 0;
}

.profile .role {
  margin: 10px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.profile .github {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.profile .email {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.profile .img {
  margin: 20px auto 25px;
  width: 200px;
  height: 200px;
}

.profile .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.process img {
  max-width: 700px;
  width: 100%;
  height: auto;
}

.layouts {
  display: flex;
  flex-wrap: wrap;
  flex: row;
}

.layout {
  margin: 10px;
}

.layout img {
  max-width: 380px;
  width: 100%;
  height: auto;
}

.database img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.userscenario img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.phone {
  display: none;
}

@media (max-width: 800px) {
  .container {
    padding: 10px;
    height: calc(100% - 20px);
  }
  .desktop {
    display: none;
  }
  .phone {
    display: flex;
  }
  .container {
    height: calc(100% - 71px);
    padding: 71px 0 0 0;
    /* padding: 50; */
  }
  .header {
    max-width: 800px;
    height: auto;
    position: static;
    border: none;
  }
  .header .header-content {
    flex-direction: column;
  }
  .header-content .title {
    position: fixed;
    z-index: 50;
    top: 0;
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  .header-content .link {
    flex-direction: column;
  }
  .contents {
    margin: -40px 10px 0;
    width: calc(100% - 20px);
  }
}
